
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height:100vh;
}

.main{
   
    height:100%;
    width:100%;
    /* max-width: 1920px; */
}
.back{
   
    height:100%;
    width:100%;
    
}
.top{
    /* pointer-events: none; */
    position: absolute;
    top:0;
    left: 0;;
    height:100%;
    width:100%;
    
}

.main .bg{
    /* position: absolute;
    top:0;
    left:0; */
    height: 100%;
    width:100%;
    z-index: -1;
}
.working
{
    /* pointer-events: none; */
    position: relative;
    width:80%;
    height:100%;
    /* border:1.5px solid red; */
    max-width: 1920px;
    z-index: 999999;
    background: transparent;
    margin: 0 auto;
    
}
/* .... */
/* .... */
/* ...........NAVBAR STYLE BELOW.......... */
/* .... */
/* .... */
.nav{
    display: flex;
    justify-content: space-between;
    height:10vh;
    width:100%;
    /* background: rgb(82, 203, 82); */
}
.navleft{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width:25%;
    height:inherit;
    /* background: blue; */
}
.main .working .navleft .logo{
    height:100%;
    width: 7vw;
}
.nav .navleft a{
    height:auto;
    width: auto;
    text-decoration: none;
    color: #fff;
}
.nav .navleft a p{
    color:#fff;
    font-family: Pacifico;
    font-size: 1.5rem;
    height:auto;
    width:auto;
    /* background-color: aqua; */
}
.navright{
    display: flex;
    align-items: center;
    justify-content:space-around;
    min-width:25%;
    gap:10px;
    padding: 0 5px;
    height:inherit;
    /* border: 2px solid rgba(244, 114, 74); */
}
.navright a{
    pointer-events: all;
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: auto;
    width: auto;
    font-size: 1rem;
    font-family: Holtwood One SC;
}
/* .... */
/* .... */
/* .... */
/* ...................NAVBAR CSS DONE(-_-) DON'T GO FURTHER........... */
/* .... */
/* .... */
/* .... */
/* ...................MIDDLE ELEMENTS CSS..............................*/
.middle{
    display: flex;
    justify-content: space-between;
    position:absolute;
    width:100%;
    height:auto;
    /* background-color: rgb(231, 101, 101); */
    top:40%;
}
.middleleft{
    /* background-color: rgb(114, 109, 249); */
    /* height:100%; */
    min-width:50%;
    
}
.ptags{
    position:relative;
    height:3vw;
    /* background: yellow; */
    min-width: 100%;
    font-family: Titan One;
    overflow: hidden;
}
.middleleft .ptags h1 {
    position: absolute;
    top:100%;
    left: 0;
    height:auto;
    width: auto;
    line-height: 0.9;
    gap:10px;
    color:rgb(255, 255, 255);
    font-size: 3vw;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: Titan One;
}
.middleleft .ptags h1:nth-child(1)
{
    top:0%;
}
.button
{
    pointer-events: all;
    cursor: pointer;
    width:100px;
    height:60px;
    margin:10px 0;
    font-size: 1.5rem;
    font-family: Oswald;
    font-weight: 550;
    border:none;
    border-radius: 5px;
    color:#fff;
    background:#d0d4a8;

}
button:hover{
    background: #c9d74b;
    transition: all .2s ease-in-out;
}
/* .middleright{
    background-color:transparent;
     height:100%;
    min-width:35%;
} */
/* ......................................................................................................... */

/* .............PORTFOLIO STARTS............................. */

.portfolio{
    position: relative;
    width: 100vw;
    height:100vh;
    /* background: #000000; */
}
.heading{
    position: relative;
    width:100%;
    height:25%;
    top:12%;
    /* background: rgba(0, 0, 255, 0.162); */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.heading h1{
    color:#e07171;
    font-family: 'Single Day';
    font-size: 5vw;
}
.portfolio .heading #lilimage
{
    /* position:absolute; */
    height:103px;
    max-height:70% ;
    width:7%;
    border:1.5px solid rgb(3, 3, 3);
    background: #fff;
    border-radius: 5px;
    animation: instartate 3s infinite;
    cursor: pointer;
    transform: rotate(-20deg);

} 

.lilimages1 .image1{
    height:80%;
    width:100%;
    background-size: cover;
}

.portfolio .heading .lilimage2 .image{
    height:80%;
    width:100%;
    background-size: cover;
}
.portfolio .heading #lilimage img{
    width:100%;
    height:90%;
    border-radius: 5px 5px 0 0;
    
}

.portfolio .heading #lilimage .desc{
    height:19%;
    width:100%;
    display: flex;
}
.portfolio .heading #lilimage .desc i{
    height:16px;
    max-height:20%;
    max-width:1.4vw;
    margin:0 5px;
}

@keyframes instartate{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(-20deg);
    }
    50%{
        transform: rotate(20deg);
    }
    100%
    {
        transform: rotate(0);
    }
}


/* LILIMAGE 2 */

.portfolio .heading .lilimages2 .image{
    height:80%;
    width:100%;
}
.portfolio .heading .lilimages2 .desc{
    height:19%;
    width:100%;
    display: flex;
}
.portfolio .heading .lilimages2 img{
    width:100%;
    height:70%;
    border-radius: 5px 5px 0 0;
}

.portfolio .heading .lilimages2 .desc i{
    height:1vw;
    width:1.4vw;
    margin:2px 5px;
}
/* ................DESTINATIONDIV(THE CARTS)............... */

.destinationDiv{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap:5vw;
        top:30%;
        width:100%;
        min-height:80%;
        /* background: #000; */
        padding:0 5vw;
}

.destinationCart
{
    position: relative;
    height: 70%;
    height: 370px;
    max-height: 100vh;
    width: 340px;
    max-width: 100vw;
    border-radius: 10px;
    overflow: hidden;
    cursor:pointer;
}
.overlay
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    height: 100%;
    width: 100%;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
    cursor:pointer;
    opacity: 0;
    color: #fff;
    padding-left:10px;
}
.overlay p 
{
    font-size: 1.5vw;
    color:white;
}
@keyframes hovereffect{
    form{
        top:100%
    }
    to
    {
        top:0%;
    }
}
.destinationCart img{
    position: absolute;
    height:100%;
    width: 100%;
    border-radius: 7px;
    

}
.destinationCart:hover img
{
    /* transform: translateY(60%); */
    height:120%;
    width:120%;
    transition: all .4s ease-in-out;
    opacity: 0.5;

}
.destinationCart:hover .overlay
{
    animation-name: hovereffect;
    animation-duration: .4s;
    animation-iteration-count: infinite;
    transition: all .4s ease;
    opacity: 1;
}
.destinationCart:nth-child(2)
{
    margin-top: 9vh;
}



/* .........................MEDIA QUERY STARTS HERE....................... */

@media(max-width:962px)
{
        .nav .navleft a p{
            font-size: 1.2rem;
        }
        .navright a{
            font-size: 0.7rem;
        }
        .button
        {
            line-height: 0.2;
            width: 100px;
            height: 37px;

        }
}


@media(max-width:769px)
{
    .nav .navleft a p{
        min-width: 100%;
    }   
}
@media(max-width:376px)
{
    .nav .navleft a p
    {
        display:none;
    }
    .main .working .navleft .logo{
        width:20vw;
    }
    .middleleft{
        min-width:100%;
    }
    .ptags{
        height: 6vw;
    }
    .middleleft .ptags h1{
        font-size: 6.7vw;
    }

}
